<%= javascript_include_tag "adminful_home" %>
<%= stylesheet_link_tag "adminful_home" %>

<h1><%= t "adminful.home.title" %></h1>

<div id="adminful-home"></div>

<script>
  $(function() {
    window.App = new Adminful(<%= raw resources_to_json(@available_resources) %>);
  });
</script>
